<h1>Exercises</h1>
<% @exercises.each do |exercise| %>
  <ul class="list-group">
    <li class="list-group-item"><h5>Name:</h5> <%= exercise.name %></li>
    <li class="list-group-item"><h5>Description:</h5> <%= exercise.description %></li>
  </ul>
  <% end %>
